* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: #333; */
}
ul {
    list-style-type: none;
}

#header {
    height: 46.500px;
    background-color: #000;
}

#navigation {

}
#navigation > li > a {
    color: white;
    text-transform: uppercase;

}
#navigation > li {
    display: inline-block;
}

#navigation li {

    position: relative;

}
#navigation li:hover .subnavigation{
    display: inline-block;
}
#navigation li a {

    text-decoration:none;
    padding: 0 20px;
    line-height: 46.500px;
    display: block;

}
#navigation > li:hover > a {

    color: #000;
    background-color: #ccc;
    
}
#navigation .subnavigation a {
    color:black ;
    padding:0 12px;
    line-height: 38px;

}
#navigation .subnavigation li:hover {
    color: #000;
    background-color: #ccc;
}

#navigation .subnavigation {
    display: none;
    position: absolute;
    top:100%;
    left: 0;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
